<%= form_for(@team) do |form| %>
  <%= form.label :name, "Team Name" %>
  <%= form.text_field :name %>
  <%= form.submit "Submit" %>
<% end %>

Click to select your team
<% @teams.each do |team| %>
  <div class='logo'>
    <p><%= link_to team.name, team %></p>
  </div>
<% end %>
